* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

.fade {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 9999;
	pointer-events: none;
	animation: fadeOutBlack 2s ease-out;
	opacity: 0;
}

.content {
	background-color: rgb(254, 203, 211);
	width: 100vw;
	height: 100vh;
	font-family: monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}

.content:active {
	animation: goAway 0.25s ease-out forwards;
}

.letterGrower {
	display: inline-block;
	transition: transform 0.1s ease-in-out;
	text-shadow: 5px 1px 0px rgba(0, 0, 0, 0.5);
}

.letterGrower:hover {
	cursor: default;
	transform: scale(1.5);
}

.boo {
	font-size: 8rem;
	text-align: center;
	user-select: none;
	animation: booIn 1s ease-out;
}

p {
	text-align: center;
	color: grey;
	cursor: pointer;
}

@keyframes goAway {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes booIn {
	0% {
		transform: translateY(-500%);
	}
	20% {
		transform: translateY(-500%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadeOutBlack {
	0% {
		opacity: 1;
		visibility: visible;
	}
	15% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

figure {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -100;
}
